.item__wrap {
    width: 90%;
    text-align: center;
}

.item__header {
    text-align: center;
}

.header__title {
    font-size: 20px;
}

.item__detail {
    text-align: center;
}

.item__title {
    font-size: 18px;
}

.result-page__actions {
    width: 30%;
    font-size: 16px;
    padding: 10px 5px;
    margin-top: 20px ;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px 3px #A9A9A9;
    text-align: center;
}

.result-page__btn {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px) {
    .item__wrap {
        width: 100%; /* 商品情報を全幅表示 */
        padding: 10px; /* 全体の余白を縮小 */
    }

    .header__title {
        font-size: 18px; /* フォントサイズを縮小 */
    }

    .result-page__actions {
        width: 50%; /* ボタンの幅を広げる */
        font-size: 14px; /* フォントサイズを縮小 */
    }
}